{% spaceless %}
    <div class="dcs-rating-container">
        {% set params = params|merge({'id' : rating.id, 'value' : 10}) %}
        <a href="{{ url('dcs_rating_add_vote', params) }}" class="like">&#9829;</a>
    </div>
{% endspaceless %}