{% spaceless %}
    <div class="dcs-rating-container rtl">
        {% for i in maxValue..1 %}
            {% set style = '' %}
            {% if i <= rate %}
                {% set style = 'full' %}
            {% else %}
                {% set style = rate|isHalfStar(i) ? 'half' %}
            {% endif %}
            <span class="star {{ style }}">☆</span>
        {% endfor %}
    </div>
    {% if userRating %}
        <div>your choice: {{ userRating.value }}</div>
    {% endif %}
{% endspaceless %}