/* Scale */
.dcs-rating-container {
    direction: rtl;
    overflow: hidden;
    display: inline-block;
    unicode-bidi: bidi-override;
}
.dcs-rating-container > .star {
    direction: ltr;
    color: #ddd;
    font-size: 1em;
    position: relative;
    display: inline-block;
}
.dcs-rating-container > a.star {
    text-decoration: none;
    cursor: pointer;
}
.dcs-rating-container > .star.half:before {
    color: #FDE16D;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
.dcs-rating-container > .star.full:before {
    color: #FDE16D;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 100%;
}
.dcs-rating-container > a.star:hover:before,
.dcs-rating-container > a.star:hover ~ a.star:before {
    color: #DBD816;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 100%;
}

/* Likes */
.dcs-rating-container > .like {
    color: #ddd;
    font-size: 2em;
    position: relative;
}
.dcs-rating-container > a.like {
    text-decoration: none;
    cursor: pointer;
}

/* heart */
.dcs-rating-container > .heart > i:before {
    content: '\2665';
}
.dcs-rating-container > a.heart:hover > i:before,
.dcs-rating-container > a.heart:hover ~ a.heart > i:before {
    content: '\2665';
    color: green;
    left: 0;
    width: 100%;
}

/* hand */
.dcs-rating-container > .hand > i:before {
    content: '\2669';
}
.dcs-rating-container > a.hand:hover > i:before,
.dcs-rating-container > a.hand:hover ~ a.hand > i:before {
    content: '\2669';
    color: green;
    left: 0;
    width: 100%;
}